
# Ignoramos los archivos temporales de latex
doc/*.toc
doc/*.gz
doc/*.bcf
doc/*.blg
doc/*.bbl
doc/*.bak
doc/*.aux
doc/*.idx
doc/*.lof
doc/*.log
doc/*.ptc
doc/*.xml

# Ignore everything but the "sites" folder ( for non core developer )
.htaccess
web.config
authorize.php
cron.php
index.php
install.php
update.php
xmlrpc.php
/includes
/misc
/modules
/profiles
/scripts
/themes
